<div class="product-card">
  <img
    class="blog_posts_post--image"
    [src]="'../assets/22.jpg'"
    loading="lazy"
  />
  <div class="price-label">
    <p class="blog_posts_post--date">$100</p>
  </div>
  <p class="product-name">Mountains Bike</p>
  <p class="product-description">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
  </p>
  <div class="add-to-cart" (click)="addToCart()">
    <a>Add To Cart</a>
  </div>
</div>
