<div class="product-container">
  <!-- Buttons row -->
  <div class="creator-buttons-container">
    <div class="add-to-cart" (click)="onCrateButtonClick()">
      <a>Add Dynamic Component</a>
    </div>
    <div class="add-to-cart" (click)="onDestroyButtonClick()">
      <a>Remove Dynamic Component</a>
    </div>
  </div>

  <!-- Product cards row -->
  <div class="product-cards-row">
    <ng-container
      #container
      [ngComponentOutlet]="dynamicComponent"
      [ngComponentOutletInputs]="componentInputs"
      [ngComponentOutletContent]="domNodesArray"
    >
    </ng-container>
  </div>
  <ng-template #notifyMe>
    <app-notify-me (checked)="onNotifyMeClicked($event)"></app-notify-me>
  </ng-template>
</div>
